
@{
    Layout = null;
}

@using Model;
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-trasitional.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet"
          href="../../css/table.css" type="text/css">
    <script type="text/javascript"
            src="../../javascript/comm/comm.js">
    </script>
    <script language="javascript"
            src="../../javascript/winopen/winopenm.js">
    </script>

    <script src="~/Scripts/vue/dist/vue.js"></script>
    <script src="~/Scripts/element-ui/lib/index.js"></script>
    <link href="~/Scripts/element-ui/lib/theme-chalk/index.css" rel="stylesheet" />
    <script src="~/Scripts/axios/dist/axios.js"></script>
</head>
<body>
    <div id="app">
        @{Human_file human = ViewBag.s; }
        <form method="post" action="">
            <table width="100%">
                <tr>
                    <td>
                        <font color="black">
                            您正在做的业务是：人力资源--人力资源档案管理--人力资源档案查看
                        </font>
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        <input type="button" value="返回" class="BUTTON_STYLE1"
                               onclick="history.back()">
                    </td>
                </tr>
            </table>
            <table width="100%" border="1" cellpadding=3 cellspacing=1
                   bordercolorlight=#848284 bordercolordark=#eeeeee
                   class="TABLE_STYLE1">
                <tr>
                    <td class="TD_STYLE1" width="10%">
                        档案编号
                    </td>
                    <td colspan="6" class="TD_STYLE2">
                        {{jlbh}}
                    </td>
                    <td rowspan="6" width="13%" style="text-align: center;">
                        <el-upload class="avatar-uploader"
                                   action="/ZhaoP/WSCD"
                                   :show-file-list="false"
                                   :on-success="handleAvatarSuccess"
                                   :before-upload="beforeAvatarUpload">
                            <img style="width:150px;height:90px" v-if="imageUrl" :src="imageUrl" class="avatar">
                        </el-upload>
                    </td>
                </tr>
                <tr>
                    <td class="TD_STYLE1" width="10%">
                        I级机构
                    </td>
                    <td width="13%" class="TD_STYLE2">
                       {{yi}}
                    </td>
                    <td width="10%" class="TD_STYLE1">
                        II级机构
                    </td>
                    <td width="13%" class="TD_STYLE2">
                        {{er}}
                    </td>
                    <td width="10%" class="TD_STYLE1">
                        III级机构
                    </td>
                    <td class="TD_STYLE2" colspan="2" width="2%">
                        {{sa}}
                    </td>
                </tr>
                <tr>
                    <td class="TD_STYLE1">
                        职位分类
                    </td>
                    <td class="TD_STYLE2">
                        {{fl}}
                    </td>
                    <td class="TD_STYLE1">
                        职位名称
                    </td>
                    <td class="TD_STYLE2">
                       {{mc}}
                    </td>
                    <td class="TD_STYLE1">
                        职称
                    </td>
                    <td colspan="2" class="TD_STYLE2">
                        {{optionstjc}}
                    </td>
                </tr>
                <tr>
                    <td class="TD_STYLE1">
                        姓名
                    </td>
                    <td class="TD_STYLE2">
                        {{xm}}
                    </td>
                    <td class="TD_STYLE1">
                        性别
                    </td>
                    <td class="TD_STYLE2">
                        {{xb}}
                    </td>
                    <td class="TD_STYLE1">
                        EMAIL
                    </td>
                    <td colspan="2" class="TD_STYLE2">
                        {{emal}}
                    </td>
                </tr>
                <tr>
                    <td class="TD_STYLE1">
                        电话
                    </td>
                    <td class="TD_STYLE2">
                        {{dh}}
                    </td>
                    <td class="TD_STYLE1">
                        QQ
                    </td>
                    <td class="TD_STYLE2">
                        {{qq}}
                    </td>
                    <td class="TD_STYLE1">
                        手机
                    </td>
                    <td colspan="2" class="TD_STYLE2">
                        {{sj}}
                    </td>
                </tr>
                <tr>
                    <td class="TD_STYLE1">
                        住址
                    </td>
                    <td colspan="3" class="TD_STYLE2">
                        {{dz}}
                    </td>
                    <td class="TD_STYLE1">
                        邮编
                    </td>
                    <td colspan="2" class="TD_STYLE2">
                        {{yb1}}
                    </td>
                </tr>
                <tr>
                    <td class="TD_STYLE1">
                        国籍
                    </td>
                    <td class="TD_STYLE2">
                       {{gj}}
                    </td>
                    <td class="TD_STYLE1">
                        出生地
                    </td>
                    <td class="TD_STYLE2">
                        {{csd}}
                    </td>
                    <td class="TD_STYLE1">
                        生日
                    </td>
                    <td width="13%" class="TD_STYLE2">
                        {{sr}}
                    </td>
                    <td width="10%" class="TD_STYLE1">
                        民族
                    </td>
                    <td class="TD_STYLE2">
                        {{mz}}
                    </td>
                </tr>
                <tr>
                    <td class="TD_STYLE1">
                        宗教信仰
                    </td>
                    <td class="TD_STYLE2">
                        {{zjxy}}
                    </td>
                    <td class="TD_STYLE1">
                        政治面貌
                    </td>
                    <td class="TD_STYLE2">
                        {{zm}}
                    </td>
                    <td class="TD_STYLE1">
                        身份证号码
                    </td>
                    <td class="TD_STYLE2">
                        {{idc}}
                    </td>
                    <td class="TD_STYLE1">
                        社会保障号码
                    </td>
                    <td class="TD_STYLE2">
                        {{sh}}
                    </td>
                </tr>
                <tr>
                    <td class="TD_STYLE1">
                        年龄
                    </td>
                    <td class="TD_STYLE2">
                        {{nl}}
                    </td>
                    <td class="TD_STYLE1">
                        学历
                    </td>
                    <td class="TD_STYLE2">
                        {{xl}}
                    </td>
                    <td class="TD_STYLE1">
                        教育年限
                    </td>
                    <td class="TD_STYLE2">
                        {{nx}}
                    </td>
                    <td class="TD_STYLE1">
                        学历专业
                    </td>
                    <td class="TD_STYLE2">
                        {{zy}}
                    </td>
                </tr>
                <tr>
                    <td class="TD_STYLE1">
                        薪酬标准
                    </td>
                    <td class="TD_STYLE2">
                        {{xc}}
                    </td>
                    <td class="TD_STYLE1">
                        开户行
                    </td>
                    <td class="TD_STYLE2">
                        {{khx}}
                    </td>
                    <td class="TD_STYLE1">
                        帐号
                    </td>
                    <td class="TD_STYLE2">
                        {{zhah}}
                    </td>
                    <td class="TD_STYLE1">
                        复核人
                    </td>
                    <td class="TD_STYLE2">
                        {{fhr}}
                    </td>
                </tr>
                <tr>
                    <td class="TD_STYLE1">
                        复核时间
                    </td>
                    <td class="TD_STYLE2">
                        {{fhsj}}
                    </td>
                    <td class="TD_STYLE1">
                        特长
                    </td>
                    <td class="TD_STYLE2">
                        {{tc}}
                    </td>
                    <td class="TD_STYLE1">
                        爱好
                    </td>
                    <td class="TD_STYLE2">
                        {{ah}}
                    </td>
                    <td class="TD_STYLE1">
                        &nbsp;
                    </td>
                    <td class="TD_STYLE2">
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td class="TD_STYLE1">
                        档案附件
                    </td>
                    <td colspan="7" class="TD_STYLE2">
                        <a href="#"></a>
                    </td>
                </tr>
                <tr>
                    <td class="TD_STYLE1">
                        个人履历
                    </td>
                    <td colspan="7" class="TD_STYLE2">
                        <textarea rows="4"
                                  class="TEXTAREA_STYLE1" readonly="readonly">{{lul}}</textarea>
                    </td>
                </tr>
                <tr>
                    <td class="TD_STYLE1">
                        家庭关系信息
                    </td>
                    <td colspan="7" class="TD_STYLE2">
                        <textarea rows="4"
                                  class="TEXTAREA_STYLE1" readonly="readonly">{{gx}}</textarea>
                    </td>
                </tr>
                <tr>
                    <td class="TD_STYLE1">
                        备注
                    </td>
                    <td colspan="7" class="TD_STYLE2">
                        <textarea rows="4" class="TEXTAREA_STYLE1" readonly="readonly">{{bz}}</textarea>
                    </td>
                </tr>
            </table>
        </form>
    </div>

    <script type="text/javascript">
        var vm = new Vue({
            el: "#app",
            data() {
                return {
                    optionstgj: "",
                    optionstmz: "",
                    optionstzjxy: "",
                    optionstzm: "",
                    optionstxl: "",
                    optionstnx: "",
                    optionstzy: "",
                    optionsttc: "",
                    optionstah: "",

                    optionstjc: "",
                    yi: "",
                    er: "",
                    sa:"",

                    gx:"",
                    shid:"",
                    djr: "",
                    djsj:"",
                    jlbh:"",
                    fl: "",
                    mc: "",
                    lx: "",
                    xm: "",
                    xb: "",
                    emal: "",
                    dh: "",
                    jdh: "",
                    sj: "",
                    dz: "",
                    yb1: "",
                    gj: "",
                    csd: "",
                    sr: "",
                    mz: "",
                    zjxy: "",
                    zm: "",
                    idc: "",
                    nl: "",
                    by: "",
                    xl: "",
                    nx: "",
                    zy: "",
                    xc: "",
                    zcsj: "",
                    tc: "",
                    ah: "",
                    tjr: "",
                    tjsj: "",
                    lul: "",
                    bz: "",
                    yj: "",
                    qq: "",
                    xc: "",
                    khx: "",
                    zhah: "",
                    sh: "",
                    fhr: "",
                    bid: "",
                    fhsj:"",


                    imageUrl: '',


                }
            },
            methods: {
                find() {
                     this.bid = @Html.Raw(Json.Encode(human.huf_id));
                    this.djr = @Html.Raw(Json.Encode(human.register));

                     var dj = @Html.Raw(Json.Encode(human.regist_time));
                    const isoDates = dj; // ISO 格式的日期时间
                    const dates = new Date(parseInt(isoDates.substr(6))); // 解析 Microsoft JSON 日期格式
                    const formattedDateTimes = dates.toLocaleString(); // 转换为本地格式  2023/8/30 16:44:21
                    this.djsj = formattedDateTimes; // 更新日期时间字段的值

                    this.jlbh= @Html.Raw(Json.Encode(human.human_id));

                    this.yi = @Html.Raw(Json.Encode(human.first_kind_name));
                    this.er = @Html.Raw(Json.Encode(human.second_kind_name));
                    this.sa= @Html.Raw(Json.Encode(human.third_kind_name));

                    this.fl = @Html.Raw(Json.Encode(human.human_major_kind_name));
                    this.mc = @Html.Raw(Json.Encode(human.hunma_major_name));

                    this.optionstjc =@Html.Raw(Json.Encode(human.human_pro_designation));

                    this.xm = @Html.Raw(Json.Encode(human.human_name));
                    this.xb = @Html.Raw(Json.Encode(human.human_sex));
                    this.emal = @Html.Raw(Json.Encode(human.human_email));
                    this.dh = @Html.Raw(Json.Encode(human.human_telephone));
                    this.qq =@Html.Raw(Json.Encode(human.human_qq));
                    this.sj = @Html.Raw(Json.Encode(human.human_mobilephone));
                    this.dz = @Html.Raw(Json.Encode(human.human_address));
                    this.yb1 = @Html.Raw(Json.Encode(human.human_postcode));
                    this.gj = @Html.Raw(Json.Encode(human.human_nationality));
                    this.csd = @Html.Raw(Json.Encode(human.human_birthplace));

                    var a = @Html.Raw(Json.Encode(human.human_birthday));
                    //console.log(a);
                    const isoDate = a.replace(/(\d{2})\/(\d{2})\/(\d{4})/, '$3-$1-$2'); // 转换为 ISO 格式的日期字符串
                    const date = new Date(isoDate); // 解析 ISO 格式的日期时间
                    const formattedDateTime = date.toLocaleDateString(); // 转换为本地格式，例如 2023/8/30
                   // console.log(formattedDateTime);
                    this.sr = formattedDateTime; // 更新日期时间字段的值

                    this.mz = @Html.Raw(Json.Encode(human.human_race));
                    this.zjxy = @Html.Raw(Json.Encode(human.human_religion));
                    this.zm = @Html.Raw(Json.Encode(human.human_party));
                    this.idc = @Html.Raw(Json.Encode(human.human_id_card));
                    this.nl = @Html.Raw(Json.Encode(human.human_age));
                    this.xl = @Html.Raw(Json.Encode(human.human_educated_degree));
                    this.nx = @Html.Raw(Json.Encode(human.human_educated_years));
                    this.zy = @Html.Raw(Json.Encode(human.human_educated_major));

                    this.xc = @Html.Raw(Json.Encode(human.salary_standard_name));
                    this.tc = @Html.Raw(Json.Encode(human.human_speciality));
                    this.ah = @Html.Raw(Json.Encode(human.human_hobby));
                    this.lul = @Html.Raw(Json.Encode(human.human_histroy_records));
                    this.bz = @Html.Raw(Json.Encode(human.remark));
                    this.khx =@Html.Raw(Json.Encode(human.human_bank));
                    this.zhah =@Html.Raw(Json.Encode(human.human_account));
                    this.sh =@Html.Raw(Json.Encode(human.human_society_security_id));
                     this.gx=@Html.Raw(Json.Encode(human.human_family_membership));

                    this.imageUrl =@Html.Raw(Json.Encode(human.human_picture));
                    this.fhr =@Html.Raw(Json.Encode(human.checker));

                     var fsj = @Html.Raw(Json.Encode(human.check_time));
                    const isoDatesj = fsj; // ISO 格式的日期时间
                    const datesj = new Date(parseInt(isoDatesj.substr(6))); // 解析 Microsoft JSON 日期格式
                    const formattedDateTimesj = datesj.toLocaleString(); // 转换为本地格式  2023/8/30 16:44:21
                    this.fhsj = formattedDateTimesj; // 更新日期时间字段的值


                },
                handleAvatarSuccess(res, file) {

                },
                beforeAvatarUpload(file) {

                }
            },
            mounted: function () {
                this.find();
            }
        })
    </script>
</body>
</html>

